<h1>GitHub Issues</h1>
<dir class="my-5 border-b-2 border-blue-600"></dir>

<section class="grid grid-cols-1 sm:grid-cols-3 gap-2">

    <!-- Botones para controlar el Estado (state) -->
    <div class="flex flex-col col-span-3">
        <div class="flex gap-2">
            <button 
                [class.active]="issueService.selectedState() === 'all'" 
                class="btn active"
                (click)="onChangeState('all')"
            >
                All
            </button>
            <button 
                [class.active]="issueService.selectedState() === 'open'" 
                class="btn"
                (click)="onChangeState('open')"
            >
                Open
            </button>
            <button 
                [class.active]="issueService.selectedState() === 'closed'" 
                class="btn"
                (click)="onChangeState('closed')"
            >
                Closed
            </button>
        </div>
    </div>

    <!-- Listado -->
    <div class="mt-4 flex flex-col col-span-2">
        <h3>Issues:</h3>
        <!-- TODO: Listado de issues -->
         @for (issue of issuesQuery.data(); track issue.id) {

            <issue-item [issue]="issue"/>

         }@empty {
            @if ( issuesQuery.isLoading() ) {
                <p>Loading...</p>
            }@else {
                <p>No hay issues que mostrar</p>
            }
         }

        <!-- TODO: Spinner -->

        <!-- TODO: si no hay issues -->
    </div>

    <!-- Labels -->
    <div>
        <h3>Labels:</h3>
        @if(labelsQuery.isLoading()){
            <p>Loading...</p>
        }@else {
            <issues-labels-selector [labels]="labelsQuery.data() ?? []" />
        }
         <!-- TODO: Label selector -->
    </div>

</section>

